.App {
  text-align: center;
}

.App_Title {
  font-weight: 600;
  font-size: 26px;
}

.App_Button {
  background-color: #1C9BD1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline;
}

.App_Button:hover {
 cursor: pointer;   
}

.App_Details {
  margin: 50px auto;
  width: 600px;
}